
body {
    margin: 0;
    background-color: cadetblue;
    color: white;
    font-family: "Archivo Black", sans-serif;
}

nav {
    background-color: white;
    color: cadetblue;
    margin-bottom: 2rem;
    padding: 2rem;
}

.sort {
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
}

.sort select {
    border-radius: 10%;
    border: none;
    margin: 1rem 0;
}

.sort label {
    color: white;
    font-family: "Archivo Black", sans-serif;
    letter-spacing: 0.1rem;
}

.sort input {
    margin-left: 0;
    background-color: white;
    border: white;
    border-radius: 5%;
}

h1 {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0;
    letter-spacing: 0.5rem;
}

h3 {

    text-align: center;
    padding-top: 0;
    font-weight: 400;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    font-weight: 400;
}

hr {
    border: solid 1px lightgrey;
    width: 98%;
    margin-top: 0;
}

.brand {
    text-transform: uppercase;
}

.box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
    color: #5a5a5a;
    width: 15rem;
    height: 25rem;
    border-radius: 5%;
    border: lightgray;
    padding-bottom: 1rem;
}

.box h4 {
    margin: 0.5rem 1rem;
    font-weight: 400;
}
.box a {
    text-decoration: none;
}
.box h1 {
    color: cadetblue;
    margin-top: 4rem;
}

img {
    width: 100%;
    height: 15rem;
    border-radius: 5%;
    object-fit: cover;
    background-color: white;
}


/*Form page*/

form a {
    font-size: 1rem;
    padding: 0;
    margin-left: 18rem;
    justify-content: center;
    color: black;
}

form h4 {
    text-align: center;
    margin-top: 0;
    color: black;
}

form {
    align-items: center;
    padding: 1rem 3rem;
    justify-content: normal;
    width: 50%;
    margin: auto;
}

.btn {
    background-color: cadetblue;
    color: white;
    border-radius: 5%;
    border: none;
    padding: 0.5rem;
}

.btn:hover {
    cursor: pointer;

}

form select {
    padding: 0.2rem;
    margin-left: 1rem;
    width: 9rem
}

form input {
    padding: 0.2rem;
    margin-left: 1rem;
}

form div {
    display: flex;
    align-items: center;
}

.required {
    margin: 0;
    font-weight: 300;
    font-size: 0.5rem;
    font-style: italic;
}

    label {
        font-family: sans-serif;
        color: black;
    }



@media screen and (min-width: 640px) {

    .container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 4rem;
        margin: 2rem 5rem;
    }

    nav form {
        display: flex;
        justify-content: center;
    }
}



